<% provide(:title, @property.property_name) %>

<div class="row">
  <h1><%= @property.property_name %></h1>
</div>



  <%= render 'single_family_new_property_form' %>

<br/>

<div class="row">
  <%= link_to "Click here to add a unit", new_property_unit_path(@property.id)%>
</div>

<div class="row">
  <table class="table table-hover">
  <tr>
    <th>Unit Number</th>
  </tr>
    <% @units.each do |unit| %>    
  <tr>
    <td><p><%= link_to "#{unit.unit_label}", edit_unit_path(unit.id) %></p></td>
  </tr>
    <% end %>
</table>
</div>