<% provide(:title, "Maintenance Thread") %>
<h1>MaintenanceThreads#new</h1>
<%= render 'maintenance_threads/maintenance_thread_form' %>

<li><%= link_to "Show Maintenance Threads", maintenance_thread_path(current_tenant) %></li>


<p></p>